---
// No props needed
---

<div class="call-to-action mt-5">
  <!-- Desktop view -->
  <div class="is-hidden-touch">
    <div class="columns">
      <div class="column is-3"></div>
      <div class="column is-4">
        <a href="/invite">
          <button class="button is-primary is-large is-fullwidth is-rounded">
            Invite
          </button>
        </a>
      </div>
      <div class="column is-4"></div>
    </div>
  </div>

  <!-- Mobile view -->
  <div class="is-hidden-desktop">
    <div class="columns is-mobile is-centered">
      <div class="column is-10">
        <a href="/invite">
          <button class="button is-primary is-large is-fullwidth is-rounded">
            Invite
          </button>
        </a>
      </div>
    </div>
    <div class="column is-6"></div>
  </div>
</div>
