---
import FeatureComponent from "./Feature/index.astro";
import TitleComponent from "./Title.astro";
import style from "../../styles/Index.module.scss";
---

<div class="index-component">
  <TitleComponent />
  <div class={style.spacer}></div>
  <FeatureComponent />
</div>
