---
import { getCollection } from 'astro:content';
import VoteItem from "./VoteItem.astro";

const voteSitesCollection = await getCollection('voteSites');
const VoteSites = voteSitesCollection.map(entry => entry.data);
---

<div class="vote_component">
  <h1 class="is-title">Vote List</h1>
  <h4 class="is-sub-title is-4">
    Vote for Birthdayy on the following sites to help us grow!
  </h4>

  <div class="columns is-multiline mt-3">
    {VoteSites.map((element) => (
      <VoteItem
        name={element.name}
        url={element.url}
        icon={element.icon}
      />
    ))}
  </div>
</div>
