---
import BaseLayout from "../components/layout/BaseLayout.astro";
import Link from "../components/ui/Link.astro";
---

<BaseLayout title="Page Not Found">
  <div class="error container">
    <h1 class="is-title">It seems like this Page does not exist :(</h1>
    <div class="columns mt-5">
      <div class="column is-3">
        <button class="button is-primary is-large is-fullwidth is-rounded is-outlined">
          <Link url="/"> Return Home </Link>
        </button>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3">
        <button class="button is-primary is-large is-fullwidth is-rounded">
          <Link url="/invite">Invite Birthday</Link>
        </button>
      </div>
    </div>
  </div>
</BaseLayout>
