---
import Layout from "../components/Layout.astro";
import Homepage from "../components/Homepage/index.astro";
---

<Layout title="Birthdayy Discord Bot">
  <div class="index">
    <Homepage />
  </div>
</Layout>
