---
import BaseLayout from "../components/layout/BaseLayout.astro";
import HomePage from "../components/home/HomePage.astro";
---

<BaseLayout title="Birthdayy Discord Bot">
  <div class="index">
    <HomePage />
  </div>
</BaseLayout>
