---
import Layout from "../components/Layout.astro";
import VoteComponent from "../components/Vote/Vote.astro";
---

<Layout title="Vote for us">
  <div class="vote_page container">
    <VoteComponent />
  </div>
</Layout>
