---
import BaseLayout from "../components/layout/BaseLayout.astro";
import VotePage from "../components/vote/VotePage.astro";
---

<BaseLayout title="Vote for us">
  <div class="vote_page container">
    <VotePage />
  </div>
</BaseLayout>
