---
import FeatureTag from "./FeatureTag.astro";
import { featureTags } from "../../data/featureTags";
---

<div class="columns is-centered">
  <div class="column is-5">
    <div class="tags is-centered">
      {featureTags.map((tag) => (
        <FeatureTag label={tag.label} category={tag.category} />
      ))}
    </div>
  </div>
</div>
