---
import FeatureTag from "./FeatureTag.jsx";
---

<div class="columns is-centered">
  <div class="column is-5">
    <div class="tags is-centered">
      <FeatureTag label="Birthday Register" color="primary" client:load />
      <FeatureTag label="Birthday Update" color="primary" client:load />
      <FeatureTag label="Birthday Remove" color="primary" client:load />
      <FeatureTag label="Birthday List" color="primary" client:load />
      <FeatureTag label="Birthday Test" color="primary" client:load />

      <FeatureTag label="Config Announcement" color="light" client:load />
      <FeatureTag label="Config Ping Role" color="light" client:load />
      <FeatureTag label="Config Birthday Role" color="light" client:load />
      <FeatureTag label="Config Overview" color="light" client:load />
      <FeatureTag label="Config Status" color="light" client:load />
    </div>
  </div>
</div>
