---
import FeatureList from "./FeatureList.astro";
import Hero from "./Hero.astro";
import style from "../../styles/Index.module.scss";
---

<div class="index-component">
  <Hero />
  <div class={style.spacer}></div>
  <FeatureList />
</div>
