---
import FeatureList from "./FeatureList.astro";
import Hero from "./Hero.astro";
---

<div class="index-component">
  <Hero />
  <div class="spacer"></div>
  <FeatureList />
</div>

<style lang="scss">
  .spacer {
    min-height: 10rem;
  }
</style>
