---
import TagComponent from "./Tag.jsx";
---

<div class="columns is-centered">
  <div class="column is-5">
    <div class="tags is-centered">
      <TagComponent label="Birthday Register" color="primary" client:load />
      <TagComponent label="Birthday Update" color="primary" client:load />
      <TagComponent label="Birthday Remove" color="primary" client:load />
      <TagComponent label="Birthday List" color="primary" client:load />
      <TagComponent label="Birthday Test" color="primary" client:load />

      <TagComponent label="Config Announcement" color="light" client:load />
      <TagComponent label="Config Ping Role" color="light" client:load />
      <TagComponent label="Config Birthday Role" color="light" client:load />
      <TagComponent label="Config Overview" color="light" client:load />
      <TagComponent label="Config Status" color="light" client:load />
    </div>
  </div>
</div>
