.footer_component {
  padding-top: 0.75rem;
  background-image: url("../public/media/images/background/bottom_wave.svg");
  background-attachment: initial;
  background-size: cover; //cover; contain; 500px 250px; auto;
  height: 20rem;
  background-clip: border-box;
  background-position: top left;
}
.footer_content {
  padding-top: 10rem;
}
