.title_component {
  h1 {
    font-size: 5rem;
    font-family: "Rubik", sans-serif;
  }
}

.spacer {
  min-height: 4rem;
}

.is_mid {
  margin-top: 2rem;
  margin-bottom: auto;
}

.showcase_image {
  border-radius: 1rem;
}
