.section_one {
  //   background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%2378c2ad' fill-opacity='1' d='M0 224L34.3 234.7C68.6 245 137 267 206 256C274.3 245 343 203 411 181.3C480 160 549 160 617 170.7C685.7 181 754 203 823 186.7C891.4 171 960 117 1029 133.3C1097.1 149 1166 235 1234 256C1302.9 277 1371 235 1406 213.3L1440 192L1440 0L1405.7 0C1371.4 0 1303 0 1234 0C1165.7 0 1097 0 1029 0C960 0 891 0 823 0C754.3 0 686 0 617 0C548.6 0 480 0 411 0C342.9 0 274 0 206 0C137.1 0 69 0 34 0L0 0Z'%3E%3C/path%3E%3C/svg%3E");
  background-image: url("../public/media/images/background/wave_upside_3.svg");
  background-attachment: local;
  background-size: cover; //cover; contain; 500px 250px; auto;
  height: 13rem;
  background-clip: border-box;
  background-position: top left;
}
.section_two {
  height: 30rem;
  //   background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%2378c2ad' fill-opacity='1' d='M0 224L34.3 234.7C68.6 245 137 267 206 256C274.3 245 343 203 411 181.3C480 160 549 160 617 170.7C685.7 181 754 203 823 186.7C891.4 171 960 117 1029 133.3C1097.1 149 1166 235 1234 256C1302.9 277 1371 235 1406 213.3L1440 192L1440 0L1405.7 0C1371.4 0 1303 0 1234 0C1165.7 0 1097 0 1029 0C960 0 891 0 823 0C754.3 0 686 0 617 0C548.6 0 480 0 411 0C342.9 0 274 0 206 0C137.1 0 69 0 34 0L0 0Z'%3E%3C/path%3E%3C/svg%3E");
  //   background-image: url("../public/media/images/blob2.svg");
  //   background-attachment: local;
  //   background-size: 15%; //cover; contain; 500px 250px; auto;
  //   background-repeat: no-repeat;
  //   background-clip: border-box;
  //   background-position: 25% 75%;
  //   background-blend-mode: overlay;
}
.section_three {
  //   background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%2378c2ad' fill-opacity='1' d='M0 224L34.3 234.7C68.6 245 137 267 206 256C274.3 245 343 203 411 181.3C480 160 549 160 617 170.7C685.7 181 754 203 823 186.7C891.4 171 960 117 1029 133.3C1097.1 149 1166 235 1234 256C1302.9 277 1371 235 1406 213.3L1440 192L1440 0L1405.7 0C1371.4 0 1303 0 1234 0C1165.7 0 1097 0 1029 0C960 0 891 0 823 0C754.3 0 686 0 617 0C548.6 0 480 0 411 0C342.9 0 274 0 206 0C137.1 0 69 0 34 0L0 0Z'%3E%3C/path%3E%3C/svg%3E");
  background-image: url("../public/media/images/background/bottom_wave.svg");
  background-attachment: initial;
  background-size: cover; //cover; contain; 500px 250px; auto;
  height: 10rem;
  background-clip: border-box;
  background-position: top left;
}

.title_component {
  padding-top: 15rem;
  h1 {
    font-size: 5rem;
    font-family: "Rubik", sans-serif;
  }
}
